In [13]:
#Input and Output 
#String Operations
#Loops
#Functions - 50%

In [2]:
int(input('Enter your age'))

Enter your age32

'32'

In [8]:
#How to read multiple values from the keyboard in a single line 
a = input('Enter 5 numbers').split(',')

Enter 5 numbers32,23,34,21,22

In [12]:
a = int(input('Enter 5 numbers').split(':'))

Enter 5 numbers32:22:21:22:21

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [11]:
a

['32', '21', '22', '34', '32']

In [16]:
a = [int(x) for x in input('Enter 5 numbers:').split(',')]

Enter 5 numbers:32,33,23,22,22

In [19]:
type(a)

list

In [20]:
a,b,c,d,e = [int(x) for x in input('Enter 5 numbers:').split(',')]
print('The sum is:', a+b+c+d+e)

Enter 5 numbers:32,22,32,4,3
The sum is: 93

In [28]:
a,b,c,d,e = [eval(x) for x in input('Enter 5 numbers:').split(',')]
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

Enter 5 numbers:'Rahul', True, 'C', 10.5, 5
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'int'>

In [25]:
a

'Rahul'

In [26]:
b

True

In [31]:
#Outputs 
print('Hello')
print()
print('Hi')

Hello

Hi

In [32]:
print('Hello \n all')

Hello
 all

In [33]:
print('Hello \t all')

Hello 	 all

In [34]:
a = [float(x) for x in input('Enter 5 numbers:').split(',')]

Enter 5 numbers:32,22,23,32,21

In [35]:
a

[32.0, 22.0, 23.0, 32.0, 21.0]

In [36]:
print('Rahul'+ ' ' + 'Tiwari')

Rahul Tiwari

In [37]:
#Form 
a,b,c = 10,20,30
print('The values are : ', a,b,c)

The values are :  10 20 30

In [40]:
a,b,c = 10,20,30
print(a,b,c)
print(a,b,c,sep=',')
print(a,b,c,sep=':')
print(a,b,c,sep=None)

10 20 30
10,20,30
10:20:30
10 20 30

In [42]:
print('Hello', end = ' ')
print('Students', end = ' ')
print('Welcome to the Python World', end = ' ')

Hello Students Welcome to the Python World

In [43]:
print('Hello')
print('Students')
print('Welcome to the Python World')

Hello
Students
Welcome to the Python World

In [44]:
print(10,20,30,40,50, sep='-', end='------')

10-20-30-40-50------

In [45]:
list1 = [10,20,30,40]
tuple1=(10,20,30,40)
set1 = {10,20,30,40}
print(list1)
print(tuple1)
print(set1)

[10, 20, 30, 40]
(10, 20, 30, 40)
{40, 10, 20, 30}

In [46]:
print(list1, end=' ')
print(tuple1, end=' ')
print(set1, end=' ')

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [47]:
print(list1, sep='+')
print(tuple1, sep='+')
print(set1, sep='+')

[10, 20, 30, 40]
(10, 20, 30, 40)
{40, 10, 20, 30}

In [50]:
print(list1 ,tuple1, set1, sep='+')

[10, 20, 30, 40]+(10, 20, 30, 40)+{40, 10, 20, 30}

In [67]:
a,b,c=10.5, 20,30
print('The value of a is %i' %a)
print('The value of a is %f' %a)

The value of a is 10
The value of a is 10.500000

In [57]:
print('The value of a', float(a))

The value of a 10.5

In [64]:
#Replacement operator
name = 'Vernica'
salary = 10000
company = 'Deloitte'

print('Hello {}, your salary is {} and your company is {}'.format(name, salary, company))
print('Hello {2}, your salary is {0} and your company is {1}'.format(salary, company, name))

print('Hello {n}, your salary is {s} and your company is {c}'.format(n=name, s=salary, c=company))

Hello Vernica, your salary is 10000 and your company is Deloitte
Hello Vernica, your salary is 10000 and your company is Deloitte
Hello Vernica, your salary is 10000 and your company is Deloitte

In [73]:
#If and else 
#Conditional statement 

marks = 49
if marks<35:
    print('You failed the exam')
elif marks >=35 and marks <=50:
    print('You got 1st class')
else:
    print('You got excellent')

You got 1st class

In [ ]:
if condition:
    write 
elif condition:
    write
elif condition:
    write
elif condition:
    write
else:
    write

In [75]:
x = int(input('Enter firsr number'))
y = int(input('Enter second number'))
if x>y:
    print(x, 'is larger')
else:
    print(y, 'is larger')

Enter firsr number12
Enter second number32
32 is larger

In [77]:
x = int(input('enter the number'))
if x%2==0:
    print('This is an even number')
else:
    print('Its an odd number')

enter the number33
Its an odd number

In [81]:
#for loop
a = 'Rahul'
for x in a:
    print(x)

R
a
h
u
l

In [83]:
a='This is Python for loop and it is an amazing concept'

In [87]:
count = 0
for x in a:
    count = count + 1
    
print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
52

In [ ]:
a = 'Rahul'
for 
#Homework

In [103]:
sales = [3433,3244,5343,3344]
profit = [432,434,345,434]

In [90]:
profit[0]/sales[0]

0.12583745994756773

In [104]:
for i in range(0,len(profit)):
    print(profit[i]/sales[i])

0.12583745994756773
0.1337854500616523
0.06457046603032005
0.1297846889952153

In [95]:
for (p,s) in zip(profit, sales):
    print(p/s)

0.12583745994756773
0.1337854500616523
0.06457046603032005
0.10316985645933015

In [108]:
#While Loops
coupouns = 5
utilzed = 0
while utilzed<6:
    print('Total coupouns left are:', coupouns-utilzed)
    utilzed=utilzed+1
print('No coupouns left')

Total coupouns left are: 5
Total coupouns left are: 4
Total coupouns left are: 3
Total coupouns left are: 2
Total coupouns left are: 1
Total coupouns left are: 0
No coupouns left

In [106]:
#while True:
#    print('Hi')

In [110]:
#Functions in Python 
def greeting():
    print('Good morning')
greeting()

Good morning

In [112]:
def greeting(name):
    print('Hello', name, 'Good morning')
greeting('Prerna')

Hello Prerna Good morning

In [115]:
def greeting(name='Guest'):
    '''This function helping me to greet the audiences'''
    print('Hello', name, 'Good morning')
greeting()

Hello Guest Good morning

In [120]:
a= input('Enter the name')
def greeting(name):
    '''This function helping me to greet the audiences'''
    print('Hello {} Good morning'.format(name))
greeting(a)

Enter the namerahul
Hello rahul Good morning

In [118]:
def evenodd(n):
    if n%2==0:
        print('{} number id even'.format(n))
    else:
        print('{} number is odd'.format(n))
evenodd(10)

10 number id even

In [124]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1
    return result 
fact(3)

6

In [127]:
def financials(revenue, expense):
    profit = revenue-expense 
    profitratio = profit/revenue
    print(profit)
    print(profitratio)
a =  financials(1000,100)

900
0.9

In [129]:
type(a)

NoneType

In [134]:
def financials(revenue, expense):
    profit = revenue-expense 
    profitratio = profit/revenue
    return {'profit':profit, 'profitratio':profitratio}
a =  financials(1000,100)

In [135]:
a

{'profit': 900, 'profitratio': 0.9}

In [136]:
#Types of arguements in the function 
    #1. Positional Arguements
    #2. Keyword Arguements 
    #3. Default Arguements 
    #4. Variable length arguments

In [142]:
def sum(a,b):
    print(b+a)
sum(10,20)

30

In [146]:
#Keyword Arguemetns 
def greeting(name, msg):
    print('Hello', name, msg)
greeting(msg='Welcome', name='Vernica')

Hello Vernica Welcome

In [149]:
def greeting(a,b):
    print('Hello', a,b)
greeting('Welcome','Rahul')

Hello Welcome Rahul

In [152]:
#Default Arguement 
def greeting(name ='Student'):
    print('Hello', name, 'Good evening')
    
greeting()

Hello Student Good evening

In [155]:
#Variable length arguement 
def sum(a,b):
    print(a+b)
sum(10,20)

30

In [174]:
def sum1(*t): #tuple
    result = 0
    for i in t:
        
        result = result+i
    print(list(t))
    print(result)

In [175]:
sum1(10,200,32,32)

[10, 200, 32, 32]
274

In [172]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [177]:
def outer():
    print('This is outer function')
    def inner():
        print('This is inner function')
    inner()

In [182]:
outer()

This is outer function
This is inner function

In [180]:
inner()

NameError: name 'inner' is not defined

In [183]:
def square(n):
    return n*n
square(4)

16

In [184]:
m1 = lambda n : n*n
m1(4)

16

In [185]:
s = lambda a,b : a+b
s(2,3)

5

In [186]:
s = lambda a, b : a if a>b else b
s(4,5)

5

In [ ]:
#Sting Operations 
#Exceptional Handling 
#File Handling 
#Regular Expressions 
#OOPs concept 

#Statistics and Probability - 1 class 
#Numpy 
#Pandas 
#Matplotlib and Seaborn 
#Exploratory data analysis 
#Data Manipulation - Data Cleaning 
#Regression 
#Classification 
#D.R 
#Clustering 
#Time Series 
#Reinforcement 
#XGBoost 
#Grid Search 
#Association Rule 
#Recommendation Engine 
#K Fold Techinque 

#Unbalanced Data set - Classification 
#Model Deployment