In [2]:
#Range 
#Dictionaries 
#Sets 
#Operators 
#Input and Output - Part 1

In [5]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
list(range(20,5,-3))

[20, 17, 14, 11, 8]

In [11]:
list(range(5,20,3))

[5, 8, 11, 14, 17]

In [12]:
list(range(2.6,10.5,-3))

TypeError: 'float' object cannot be interpreted as an integer

In [16]:
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [17]:
tuple(range(0,10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
type((range(0,10)))

range

In [21]:
#Dictionaries

In [22]:
mystudages = {'A':10, 'B':20, 'C':30, 'D':40}

In [23]:
type(mystudages)

dict

In [24]:
mystudages

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [103]:
mystud = {'Student_name': ['A','B','C','D','E'], 'student_age':[12,32,22,33,23]}

In [26]:
type(mystud)

dict

In [104]:
mystud['Region'] = ['S','E','W','N','S']

In [105]:
mystud['Subject'] = ['Py','R','Tab','PBI','PY']

In [41]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY']}

In [36]:
import pandas as pd

In [42]:
pd.DataFrame(mystud)

  Student_name  student_age Region Subject
0            A           12      S      Py
1            B           32      E       R
2            C           22      W     Tab
3            D           33      N     PBI
4            E           23      S      PY

In [44]:
mystud.clear()

In [45]:
mystud

{}

In [49]:
mystud1 = mystud.copy()

In [50]:
mystud1

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY']}

In [56]:
mystud2= mystud.fromkeys({'Student_name', 'student_age','Subject','Marks'}, 'NA')

In [54]:
mystud2['Student_name']='Matta'

In [57]:
mystud2

{'Student_name': 'NA', 'student_age': 'NA', 'Marks': 'NA', 'Subject': 'NA'}

In [59]:
del mystud1

In [60]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY']}

In [62]:
mystud.get('Student_name')

['A', 'B', 'C', 'D', 'E']

In [65]:
mystud['Student_name'][2]

'C'

In [66]:
mystud.get[2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [69]:
mystud.items()

dict_items([('Student_name', ['A', 'B', 'C', 'D', 'E']), ('student_age', [12, 32, 22, 33, 23]), ('Region', ['S', 'E', 'W', 'N', 'S']), ('Subject', ['Py', 'R', 'Tab', 'PBI', 'PY'])])

In [70]:
mystud.keys()

dict_keys(['Student_name', 'student_age', 'Region', 'Subject'])

In [73]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY']}

In [75]:
mystud.pop(mystud['Student_name'][2])

KeyError: 'C'

In [149]:
mystud['a']=mystud.pop('b')

In [152]:
list1=mystud['Subject']

In [153]:
list1

['Py', 'R', 'Tab', 'PBI', 'PY']

In [150]:
mystud

{'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY'],
 'DOJ': ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
 'd': 4,
 'Stdnm': 'Student_name',
 'a': 2}

In [83]:
mystud

{'Region': ['S', 'E', 'W', 'N', 'S']}

In [85]:
mystud('Region'[2]).pop()

TypeError: 'dict' object is not callable

In [89]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY']}

In [92]:
del mystud['Region'][2]

In [97]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY']}

In [102]:
mystud.popitem()

TypeError: popitem() takes no arguments (1 given)

In [101]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23]}

In [107]:
mystud.items()

dict_items([('Student_name', ['A', 'B', 'C', 'D', 'E']), ('student_age', [12, 32, 22, 33, 23]), ('Region', ['S', 'E', 'W', 'N', 'S']), ('Subject', ['Py', 'R', 'Tab', 'PBI', 'PY'])])

In [108]:
mystud.keys()

dict_keys(['Student_name', 'student_age', 'Region', 'Subject'])

In [116]:
mystud.setdefault('DOJ')

In [118]:
mystud['DOJ'] = ['Jan','Feb','Mar','Apr','May']

In [119]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY'],
 'DOJ': ['Jan', 'Feb', 'Mar', 'Apr', 'May']}

In [121]:
mystud.update('Student_age')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [128]:
dict1 = {'a':1, 'b':2}
dict2 = {'a':3,'d':4}

In [124]:
dict1

{'a': 1, 'b': 2}

In [125]:
dict2

{'c': 3, 'd': 4}

In [129]:
dict1.update(dict2)

In [130]:
dict1

{'a': 3, 'b': 2, 'd': 4}

In [132]:
mystud.update(dict1)

In [133]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY'],
 'DOJ': ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
 'a': 3,
 'b': 2,
 'd': 4}

In [134]:
dict1 ={'a':2, 'a':3}

In [135]:
dict1

{'a': 3}

In [139]:
help (mystud.values())

Help on dict_values object:

class dict_values(object)
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __repr__(self, /)
 |      Return repr(self).

In [137]:
#Can we get the key from the value?

In [141]:
mystud['Stdnm'] = mystud.pop('Student_name')

In [145]:
mystud['Stdnm']='Student_name'

In [146]:
mystud

{'student_age': [12, 32, 22, 33, 23],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'R', 'Tab', 'PBI', 'PY'],
 'DOJ': ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
 'a': 3,
 'b': 2,
 'd': 4,
 'Stdnm': 'Student_name'}

In [172]:
#Sets
myset1 = {1,1,2,3,4,4,5,6,6,7,7,[4,5,6]}

TypeError: unhashable type: 'list'

In [173]:
myset1

{(4, 5, 6), 1, 2, 3, 4, 5, 6, 7}

In [175]:
set((1,2,3,3,3,4,5))

{1, 2, 3, 4, 5}

In [163]:
myset1

{1, 2, 3, 4, 5, 6, 7}

In [166]:
set(mystud['Subject'])

{'PBI', 'PY', 'Py', 'R', 'Tab'}

In [167]:
customer_id =[1,2,2,2,3,3,3,4,4,4,5,5,6,7,7,7,7,8,8,9]

In [176]:
myset1=set(customer_id)

In [178]:
myset1
#Why tuple can be in the set list is not?

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [179]:
myset1[4]

TypeError: 'set' object is not subscriptable

In [181]:
list(myset1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [183]:
myset1.add(30)

In [186]:
myset1.add([40,45,46])

TypeError: unhashable type: 'list'

In [220]:
myset1.discard(30)

In [218]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8}

In [221]:
myset1.remove(9)

KeyError: 9

In [223]:
myset1.pop(8)

TypeError: pop() takes no arguments (1 given)

In [224]:
myset1.pop()

2

In [225]:
myset1

{3, 4, 5, 6, 7, 8}

In [232]:
myset1.update((40,50))

In [233]:
myset1

{3, 4, 5, 6, 7, 8, 20, 30, 40, 50}

In [242]:
myset1.difference(myset2)

set()

In [251]:
myset2={1,2}
myset1={1,2,3}

In [253]:
myset1

{3}

In [252]:
myset1.difference_update(myset2)

In [249]:
myset2

{1, 2, 3, 4, 5, 6}

In [250]:
myset1

{7, 8}

In [254]:
myset1

{3}

In [255]:
myset2

{1, 2}

In [258]:
myset1.difference(myset2)

{1, 2}

In [263]:
myset1 = {1,2,3,4}
myset2={3,4}

In [260]:
myset1.intersection(myset2)

{3, 4}

In [261]:
myset1.intersection_update(myset2)

In [262]:
myset1

{3, 4}

In [264]:
myset1

{1, 2, 3, 4}

In [265]:
myset2

{3, 4}

In [266]:
myset1.difference_update(myset2)

In [267]:
myset1

{1, 2}

In [268]:
#Operators in Python 
    #Arithmatic 
    #Relational operators or Comparision Operators
    #Logical operators 
    #Equality Operators 
    #Bitwise operators 
    #Assignment operators 
    #Special operators

In [274]:
#Arithmatic Operators 
#+ - Addition 
#- - Subtraction 
#* - Multiplication 
#/ - Division (Result will always in the float)
#% - Modulo 
#// - Floor Division 
#** - Power 


a = 10
b = 2

print('a+b:', a+b)
print('a-b:', a-b)
print('a*b:', a*b)
print('a/b:', a/b)
print('a%b:', a%b)
print('a//b:', a//b)
print('a**b:', a**b)

a+b: 12
a-b: 8
a*b: 20
a/b: 5.0
a%b: 0
a//b: 5
a**b: 100

In [276]:
#Relational Operators 
a = 10
b = 20 
#>
#<
#>=
#<=
print('a>b:', a>b)
print('a<b:', a<b)
print('a>=b:', a>=b)
print('a<=b:', a<=b)

a>b: False
a<b: True
a>=b: False
a<=b: True

In [281]:
#Equality Operators
#==
#!=
list1 = [1,2,3]
tuple1 = (1,2,3)
list1==tuple1

False

In [284]:
a=10
b=20
a=b

In [285]:
a

20

In [290]:
a=10
c=5
a!=c

True

In [288]:
a

5

In [297]:
#Logical Opertor
#and
#or
#not

#True and True
#True and False
#False and False
not True

False

In [328]:
#0,'' - False 
#True
a=20
b=10

In [330]:
a and b

10

In [334]:
#True or True
True or False 
False or True
False or False

False

In [341]:
a = 20
b = 10
print(b or a)
a or b

10

20

In [343]:
#Ternary Operator
x = 30 if 10 > 20 else 40
print(x)

40

In [358]:
a = int(input('Enter first number:'))
b = int(input('Enter Second number:'))
c = int(input('Enter Third number:'))
#x = a if a>b>c else b if b>c else c
#print(x)
xx = a if a>b and a>c else b if b>c else c
print(xx)

Enter first number:4
Enter Second number:5
Enter Third number:7
7

In [360]:
#Special Opertors 
#1. Identitiy opertor
#2. Membership opertor
#1. IO
#is
#is not

#2. MO
#in
#not in

In [368]:
a = 257
b = 257
print(id(a))
print(id(b))
print(a is b)

1439103719088
1439103719056
False

In [367]:
a = 10
b = 10
print(a is b)

True

In [369]:
list1 = [10,20,30]
list2 = [10,20,30]
print(id(list1))
print(id(list2))
list1 is list2

1439114582664
1439104102984

False

In [370]:
list1==list2

True

In [373]:
list1
60 not in list1

True

In [374]:
a= 257
b=257
print(id(a))
print(id(b))

1439103719632
1439103719536

In [375]:
a==b

True

In [379]:
#Compound Assignemnt operators
a=10
a +=100
print(a)

110

In [381]:
#-=
#*=
#/=
#%=
#//=
#**=
a-=10
a

90

In [389]:
a = 10
print(id(a))
a +=100
print(id(a))
a -=10
print(a)
print(id(a))

140706131190448
140706131193648
100
140706131193328

In [403]:
a = 10
print(id(a))
print(a)
a +=100
print(id(a))
print(a)
a -=20
print(a)
print(id(a))

140706131190448
10
140706131193648
110
90
140706131193008

In [ ]:
140706131193648

In [390]:
#Input and Output Statements 
age = input('Enter your age')

Enter your age10

In [392]:
type(age)

str

In [393]:
age = int(input('Enter your age'))

Enter your age10

In [396]:
type(age)

int

In [397]:
age = input(int('Enter your age'))

ValueError: invalid literal for int() with base 10: 'Enter your age'

In [399]:
i = input('Enter the number')
j = input('Enter the number')
i=int(i)
j=int(j)
i+j

Enter the number10
Enter the number20

30

In [405]:
a=356
b=356
print(id(a))
print(id(b))

1439103721232
1439103721424